.coat {
  position: relative;
  background-color: #fff;

  .coat--bg-opacity {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
  }

  .coat__image {
    position: relative;
    height: 100vh;
  }

  .coat__image.coat--one {
    background: url(".././images/pop_2.jpg") 25% / cover no-repeat fixed;
  }

  .coat__image.coat--two {
    background: url(".././images/pajka03.jpg") 25% / cover no-repeat fixed;
  }

  .coat__image.coat--three {
    background: url(".././images/trzecie.jpg") 25% / cover no-repeat fixed;
  }

  .coat__logo {
    position: absolute;
    z-index: 99999999;
    top: 20rem;
    right: 5%;
    width: 10rem;
    height: 15rem;
    background: url("../images/logo/logojar/szyszka_biel.png") center / contain no-repeat;
    cursor: cell;
  }

  .coat__logo--pulse {
    animation-name: pulse_animation;
    animation-duration: 3000ms;
    transform-origin: 50% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }

  .coat__text {
    position: absolute;
    top: 50%;
    left: 7%;
    font-size: 3rem;
    text-align: right;
    line-height: 150%;
    @include prefix-test(color, transparent);
    @include prefix-test(text-shadow, 0 0 1px rgba(255, 255, 255, 0.6));
  }

  .coat__text.coat--two {
    left: 26%;
    text-shadow: 0 0 1px rgba(255, 255, 255, 1.6);
  }

  .coat__content {
    min-height: 25rem;

    .coat__content--bg-video {
      width: 100%;
    }
  }
}
/*media queries*/
.coat {
  .coat__image {
    @include screen(mobile) {
      margin-bottom: 5rem;
    }
  }
  .coat__content.video {
    @include screen(mobile) {
      display: none;
    }
  }
  .coat__logo {
    @include screen(tablet) {
      top: 50rem;
    }
    @include screen(mobilePortrait) {
      top: 23rem;
      width: 7rem;
    }
    @include screen(mobileLandScape) {
      top: 8rem;
      width: 7rem;
    }
  }

  .coat__text.coat--one {
    @include screen(tablet) {
      top: 75%;
    }
  }

  .coat__content {
    .coat__content--bg-video {
      @include screen(mobilePortrait) {
        margin: 37.5vh 0;
      }
    }
  }
}
/*pulse animation*/
@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.08);
  }

  50% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
