@import '../_mixins.scss';

.footer {
  min-height: 100vh;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  width: 100%;

  .footer__image {
    position: relative;
    width: 100%;
    height: 90vh;
    margin: 10rem 0 2.5rem;
    background: url(".././images/foto.jpg") center center / cover no-repeat fixed;
  }

  .footer__txt {
    position: absolute;
    bottom: 2rem;
    left: 0;
    color: white;
    @include prefix-test(transform, translateX(50%));
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
  }

  .footer__txt > p {
    right: 10rem;
  }

  .footer__personal {
    p {
      display: inline-block;
    }

    .number {
      position: absolute;
      font-size: 1.5rem;
      right: -2rem;
    }

    .name,
    .number {
      margin: 1rem 0 0;
    }
  }

  .footer__social {
    margin: 1rem 0 0;

    a {
      padding-right: 1rem;
      color: white;
    }
  }

  .footer__logo {
    height: 45vh;
    margin: 2.5rem 0;
    background: url(".././images/logo/logojar/jar_transpa.png") center center / contain no-repeat;
  }
}
