@import "../_mixins.scss";

.start {
  position: relative;
  height: 100vh;
  overflow: hidden;

  nav {
    position: fixed;
    z-index: 99999999;
    width: 100%;
    /*hamburger*/
    .hamburger {
      position: relative;
      width: 3rem;
      height: 20px;
      border: 0;
      border-top: 3px solid black;
      margin: 3rem;
      background: transparent;
      outline: 0;
      @include prefix-test(transition, 0.3s transform linear);
      cursor: pointer;

      &:after,
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid black;
        content: '';
        @include prefix-test(transform, translateY(8px));
      }

      &:after {
        @include prefix-test(transform, translateY(20px));
        @include prefix-test(transition, 0.3s transform linear);
      }

      &:focus {
        border: none;
        @include prefix-test(transform, rotate(45deg) translateY(5px));
      }
    }

    .hamburger:focus::after {
      @include prefix-test(transform, rotate(-90deg) translateX(-10px));
    }
    /*dropdown menu*/
    .dropdown-menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.5);
      text-align: center;
      @include prefix-test(transition, 0.3s);
      @include prefix-test(transform, translateY(-150%));
      @include prefix-test(transition, 1s transform ease-in-out);
    }

    .show-menu {
      @include prefix-test(transform, translateY(0));
      @include prefix-test(transition, 1s transform ease-out);
    }

    ul {
      position: relative;
      margin: 0 auto;
      text-transform: uppercase;
      list-style: none;

      li {
        padding: 2rem;
        font-size: 2.5rem;
        color: #000;
        text-decoration: none;

        a {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
  /*rest of header*/
  .start__content {
    position: fixed;
    z-index: -100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .start__content--bg-video {
      position: absolute;
      z-index: -99999999999999999;
      opacity: 0;
      @include prefix-test(transition, 3s);
    }

    .start__logo,
    .start__text {
      position: absolute;
      right: 0;
      left: 0;
    }

    .start__logo {
      top: -21rem;
      width: 20rem;
      height: 15rem;
      background: url("../images/logo/logojar/szyszka_biel.png") center / contain no-repeat;
      margin: 0 auto;
      @include prefix-test(transition, 2s);
    }

    .start__text {
      bottom: 7.5rem;
      width: 15rem;
      height: 12rem;
      background: url("../images/logo/logojar/napis_biel.png") center / contain no-repeat;
      margin: 0 auto;
    }
  }
}
/*media queries*/
/* film na całą szerokość ekranu*/
@media (min-aspect-ratio: 16 / 9) {
  .start__content--bg-video {
    top: 0;
    height: 110%;
  }
}
@media (max-aspect-ratio: 16 / 9) {
  .start__content--bg-video {
    width: 300%;
    left: -100%;
  }
}

.start {
  nav {
    .hamburger {
      @include screen(mobile) {
        margin: 2rem;
      }
    }

    ul {
      li {
        @include screen(mobileLandScape) {
          font-size: 2rem;
          padding: 1rem;
        }
      }
    }
  }

  .start__content {
    .start__logo {
      @include screen(mobileLandScape) {
        width: 9rem;
      }
      @include screen(mobilePortrait) {
        width: 9rem;
      }
    }

    .start__text {
      @include screen(desktopSmall) {
        bottom: 3rem;
      }
      @include screen(tablet) {
        width: 40%;
        bottom: 25rem;
      }
      @include screen(mobileLandScape) {
        width: 10rem;
        bottom: -2rem;
      }
      @include screen(mobilePortrait) {
        width: 11rem;
        bottom: 6rem;
      }
    }
  }
}
