.intro {
  position: relative;
  width: 100%;
  background-color: white;
  overflow: hidden;

  .intro__image {
    position: relative;
    height: 80vh;
    margin: 10rem 0;
    background: url(".././images/intro.jpg") center center / cover no-repeat fixed;
    @include screen(mobile) {
      margin: 5rem 0;
    }

    .intro__txt {

      position: relative;
      width: 47%;
      top: 50%;
      @include prefix-test(transform, translateY(-50%));
      padding: 1.25rem 6rem;
      margin: 0 auto;
      background-color: rgba(56, 57, 56, 0.7);
      color: white;
      font-size: 1.2rem;
      font-family: 'Varela', sans-serif;
    }
  }
}

/*media queries*/

.intro {
  .intro__image {
    .intro__txt {
      @include screen(tablet) {
        width: 100%;
        padding: 1rem 4rem;
        font-size: 1.5rem;
      }

    }
  }
}
